.Side_Navigation {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #464646;
  overflow-x: hidden;
  padding-top: 60px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.Side_Navigation a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #EEEEEE;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-bottom: 1px solid #000000;
}

.Side_Navigation a:first-child {
  border-bottom: none;
}

.Side_Navigation .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.Top_Icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 8%;
}

.Content {
  background-color: #828282;
  width: 96%;
  padding: 1% 2%;
}

.Project_About {
  width: auto;
}

.Top_Line {
  border-top: 1px solid #000000;
}

.Description {
  font-weight: bold;
}

.Value {
  color: #2e2e2e;
}

.Switch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.Switch .Element {
  width: 50%;
  text-align: center;
  border-top: 1px solid #2e2e2e;
  border-right: 1px solid #2e2e2e;
  border-left: 1px solid #2e2e2e;
  border-radius: 8px 8px 0 0;
}

.Switch .Active {
  background-color: #828282;
}

.Switch .NotActive {
  background-color: #2e2e2e;
}

.Form_Search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-right: 1px solid #2e2e2e;
  border-bottom: 1px solid #2e2e2e;
  border-left: 1px solid #2e2e2e;
  padding: 5%;
  margin-bottom: 10%;
}

.Buttons_Group {
  margin-bottom: 5px;
}

.Person_Info {
  border: 1px solid #2e2e2e;
  -webkit-box-shadow: 5px 4px 2px -1px rgba(0, 0, 0, 0.55);
          box-shadow: 5px 4px 2px -1px rgba(0, 0, 0, 0.55);
  margin-bottom: 10%;
}

.Person_About {
  width: 100%;
  color: #FF0000;
  background-color: #C1C1C1;
}

.Short_Description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.Short_Description .Date_Block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  color: #2e2e2e;
}

.Date_Block .Date {
  font-size: 0.6rem;
}

.Date_Block .New {
  font-size: 0.8rem;
  color: #EEEEEE;
  background-color: #FF0000;
  border-radius: 5px;
  padding: 0 2px;
}

.Person_Option {
  border-bottom: 1px solid #000000;
}

.Person_Option:last-child {
  border-bottom: none;
}

.Person_About .Personal {
  color: #000000;
}

.Public_Box {
  color: #FF0000;
  border: 1px solid #FF0000;
  border-radius: 5px;
  padding: 0 2px;
  margin-left: 2px;
}

.Personal_Date {
  font-size: 0.75rem;
  -webkit-columns: #2e2e2e;
          columns: #2e2e2e;
  margin-left: 5%;
}
/*# sourceMappingURL=styles_mobile.css.map */