@import "../const";

.Page {
    display: flex;
    flex-direction: column;
}

.Menu_Section {
    display: flex;
    flex-direction: column;
}

.Mobile_Menu_Button {

}

.Side_Navigation {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: $background_dark;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}
  
.Side_Navigation a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: $font_light;
    display: block;
    transition: 0.3s;
    border-bottom: 1px solid $border_dark;
}

.Side_Navigation a:first-child {
    border-bottom: none;
}
  
.Side_Navigation .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.Top_Icons {
    display: flex;
    max-height: 8%;
}

.Content {
    background-color: $background_gray;
    width: 96%;
    padding: 1% 2%;
}

#project_details {
    transition: margin-left .5s;
    padding: 20px;
}

.Project_About {
    display: flex;
    flex-direction: column;
    width: auto;
}

.Top_Line {
    border-top: 1px solid $border_dark;
}

.Description {
    font-weight: bold;
}

.Value {
    color: $font_gray;
}

.Switch {
    display: flex;
    justify-content: space-between;
}

.Switch .Element {
    width: 50%;
    text-align: center;
    border-top: 1px solid $background_darker;
    border-right: 1px solid $background_darker;
    border-left: 1px solid $background_darker;
    border-radius: 8px 8px 0 0;
}

.Switch .Active {
    background-color: $background_gray;
}

.Switch .NotActive {
    background-color: $background_darker;
}

.Form_Search {
    display: flex;
    flex-direction: column;
    border-right: 1px solid $background_darker;
    border-bottom: 1px solid $background_darker;
    border-left: 1px solid $background_darker;
    padding: 5%;
    margin-bottom: 10%;
}

.Buttons_Group {
    margin-bottom: 5px;
}

.Person_Info {
    border: 1px solid $background_darker;
    box-shadow: 5px 4px 2px -1px rgba(0,0,0,0.55);
    margin-bottom: 10%;
}

.Person_About {
    width: 100%;
    color: $font_red;
    background-color: $background_light;
}

.Short_Description {
    display: flex;
    justify-content: space-between;
}

.Short_Description .Date_Block {
    display: flex;
    align-items: baseline;
    color: $font_gray;
}

.Date_Block .Date {
    font-size: 0.6rem;
}

.Date_Block .New {
    font-size: 0.8rem;
    color: $font_light;
    background-color: $background_red;
    border-radius: 5px;
    padding: 0 2px;
}

.Public_Box {
    color: $font_red;
    border: 1px solid $border_red;
    border-radius: 5px;
    padding: 0 2px;
    margin-left: 2px;
}

.Personal_Date {
    font-size: 0.75rem;
    columns: $font_gray;
    margin-left: 5%;
}

.Person_Menu {
    display: flex;
    flex-direction: column;
}

.Person_Option {
    border-bottom: 1px solid $border_dark;
}

.Person_Option:last-child {
    border-bottom: none;
}

.Person_About .Personal {
    color: $font_dark;
}