$content_font: Arial;

$font_light: #EEEEEE;
$font_gray: #2e2e2e;
$font_red: #FF0000;
$font_dark: #000000;

$background_dark: #464646;
$background_darker: #2e2e2e;
$background_light: #C1C1C1;
$background_gray: silver;
$background_red: #FF0000;

$border_dark: #000000;
$border_gray: #828282;
$border_red: #FF0000;