@import "../const";

@media all and (min-width: 1200px) {
    .Page {
        flex-direction: row;
        background-color: $background_gray;
    }

    .Top_Icons {
        width: 100%;
    }

    .Content {
        align-self: center;
        width: 60%;
        margin-left: 15%;
        margin-right: 15%;
    }
}